h1= title
p Enter your id, name and password
form( method='POST', action='/addUser')
  input( type='text', name='id' )
  input( type='text', name='name' )
  input( type='password', name='pw' )
  input( type='password', name='pw2' )
  input( type='submit', name='enter', value='login' )
